services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - ai_network

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "8501:8501"
    networks:
      - ai_network
    environment:
      
      - BACKEND_URL=http://backend:8000 

networks:
  ai_network:
    driver: bridge